<?xml version="1.0"?>
<launch>

  <!-- Stock ROS joystick driver. -->
  <node name="joystick" pkg="joy" type="joy_node">
    <param name="dev" value="/dev/input/js0"/>
    <remap from="joy" to="/joy/source"/>
    <rosparam>
      deadzone: 0.15
    </rosparam>
  </node>

  <!-- joytf subscribes to joystick msgs and publishes a twist command.
       Can also broadcast a tf that moves according to twist command. -->

  <node name="joy_to_twist"
        pkg="wmrde"
        type="joy_to_twist">

    <remap from="joy" to="/joy/source"/>
  </node>

  <node name="collision_demo"
        pkg="wmrde"
        type="collision_demo">

    <rosparam subst_value="true">
      teleop_contact_frame_directly: false
      wheel_radius: 0.3
      init_roll_deg: 10.0
      enable_plane: true
      enable_grid: true
      grid_surface_filename: $(find wmrde)/resource/gridsurfdata1.txt
    </rosparam>
  </node>

  <node pkg="rviz" 
        type="rviz" 
        output="screen" 
        name="rviz" 
        args="-d $(find wmrde)/launch/collision_demo.rviz"/>
</launch>
